@import url('https://fonts.googleapis.com/css?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Body----------*/
body {
    font-family: 'Poppins', sans-serif;
}
/*----------Body----------*/

/*----------------------------------IMPORTANT-PART------------------------------------------*/

/*----------Header----------*/
h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    font: 1.4rem;
    font-weight: 800;
}

h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

h5 { 
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}

h6 {
    color: #d8d8d8;
}
/*----------Header----------*/

/*----------Footer----------*/
footer{
    background-color: #222222;
}

footer h5{
    color: #d8d8d8;
    font-weight: 700;
    font-size: 1.2rem;
}

footer {
    padding-bottom: 4px;
}

footer li a{
    font-size: 0.8rem;
    color: #999;
}

footer li a:hover{
    color: #d8d8d8;
}

footer p{
    color: #999;
    font-size: 0.8rem;
}

footer i{
    color: #999;
    font-size: 1.5rem;
    padding-bottom: 4px;
    padding-top: 4px;
}

footer i:hover{
    color: #fb774b;
    font-size: 1.7rem;
}

footer .copyright .a .p{
    color: #999;
    text-align: center;
}
/*----------Footer----------*/

/*----------Button----------*/
button {
    font-size:  0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover{
    background: #3a3833;
}
/*----------Button----------*/

/*----------NavigationBar----------*/
.navbar {
    font-size: 20px;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i.active{
    color: coral;
}
/*----------NavigationBar----------*/

/*----------Mobile NaviagtionBar----------*/
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}
#bar:hover,
#bar.active {
    color: #fff;
}
.navbar-light .navbar-toggler{
    outline: none;
    border: none;
}
@media only screen and (max-width: 991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #fb774b;
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        background-color: #fb774b;
    }
    #navbarSupportedContent>ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent> ul > li:nth-child(n) > a{
        padding: 10px 0;
    }
}
/*----------Mobile NaviagtionBar----------*/

/*----------------------------------IMPORTANT-PART------------------------------------------*/

/*----------Button Hover----------*/
#featured button{
    background-color: #1d1d1d;
    border-radius: 5%;
}
#featured button:hover{
    background-color: #fb774b;
    border-radius: 5%;
}
/*----------Button Hover----------*/

/*----------Product----------*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.8;
}

.product .buy-button{
    background: #fb774b;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-button{
    transform: translateY(0);
    opacity: 1;
}

.star {
    padding: 10px 0;
}

.star i{
    font-size: 0.8rem;
    color:  goldenrod;
}
/*----------Product----------*/

/*----------Panel Cart----------*/

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    /*color: blue;*/
}

.bold {
    font-weight: bolder !important;
}

.sixty {
    width: 60%;
}

.twenty {
    width: 20%;
}

.fifteen {
    width: 15%;
}

.thirty {
    width: 30%;
}

.forty {
    width: 40%;
}

table {
    width: 100%;
}

div.panel,
.btn,
.navbar {
    border-radius: 0;
}

.form-control {
    border-radius: 0;
    height: 50px;
}

.pad {
    margin-top: 10px !important;
}

div.panel-body {
    padding-top: 10px;
}

.panel-primary>.panel-heading {
    border-radius: 0;
    background-color: rgba(44, 62, 80, .9);
}

.panel-primary {
    /*border-color: rgba(51, 122, 183, .5);*/
    /*box-shadow: 2px 2px 2px rgba(51, 122, 183, .2);*/
    border-color: rgba(44, 62, 80, .5);
    box-shadow: 2px 2px 2px rgba(44, 62, 80, .5);
}

.panel-title {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: rgb(44, 62, 80);
    border-color: rgba(44, 62, 80, .5);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    background-color: rgba(44, 62, 80, .8);
    border-color: rgba(44, 62, 80, .5);
}

.big {
    font-size: 20px;
}

.modal-header {
    background-color: rgb(51, 183, 112);
    border-color: rgba(51, 183, 112, .5);
    box-shadow: 2px 2px 2px rgba(51, 183, 112, .2);
    color: white;
}

blockquote {
    padding: 1px 5px;
    margin: 0 0 10px;
    font-size: 13px;
    border-left: 3px solid rgba(51, 183, 112, .5);
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: rgba(51, 183, 112, .9);
    border-color: rgba(51, 183, 112, .5);
}

body>nav {
    border-radius: 0 !important;
}

#page {
    padding-top: 70px;
}

.navbar-form .form-control {
    height: 45px;
}

.pageTitle {
    font-size: 30px;
    font-weight: bold;
}

div.thumbnail {
    box-shadow: 1px 1px 1px 3px rgba(44, 62, 80, .2);
}

.thumbnail-q {
    box-shadow: 0 0 0 0 !important;
}

ul.summary {
    list-style-type: none;
    text-align: center;
}

ul.summary>li {
    display: inline-block;
    padding-left: 10px;
}


/*----------Panel Cart----------*/
@media(max-width: 800px) {
    div._panel div.info-bit {
        border-right: none;
        border-bottom: 1px solid rgba(44, 62, 80, .5);
    }

    div.info-bit-last {
        border-bottom: none;
    }
}